.vercel
.env
node_modules
.DS_Store
npm-debug.log
yarn-error.log
.vscode
dist
coverage
.idea
*.log
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local
*.env.*.local
*.env.development
*.env.test
*.env.production
*.env.*.development
*.env.*.test
*.env.*.production
*.env.development.json
*.env.test.json
*.env.production.json
*.env.*.development.json
*.env.*.test.json
*.env.*.production.json
*.env.development.yaml
*.env.test.yaml
*.env.production.yaml
*.env.*.development.yaml
*.env.*.test.yaml
*.env.*.production.yaml
*.env.development.yml
*.env.test.yml
*.env.production.yml
*.env.*.development.yml
*.env.*.test.yml